html {
	height: 100%;
    background: fixed center url('assets/blue fog.jpg');
    background-size: cover;
}

body {
    width: 1500px;
    max-width: 100%;
    height: 100%;
    min-height: 760px;
    font-size: 1.4em;
    color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: black 1px 1px;
    margin: auto;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
}

#bottom {
    width: 100%;
    overflow: hidden;   /* Empêche l'apparition du scroll */

    position: absolute;
    left: 0;
    bottom: 0;
}

.hoverScale {
    transform: scale(.95);
    transition: .2s;
}
.hoverScale:hover {
    transform: scale(1);
}


/*** Intro ***/

#intro_message {
    width: 600px;
    height: 213px;
    margin: 5em auto;
    background: url('assets/intro.png');
    background-size: contain;
}

#btn_play {
    width: 150px;
    height: 150px;
    margin: auto;
    background: url('assets/btn-play.png');
    background-size: contain;
    border-radius: 100%;
    cursor: pointer;
}


/*** Ecran titre ***/

#millennials {
    width: 866px;
    height: 186px;
    background: url('assets/millenniales.png');
    background-size: contain;
    animation: fade 3s, blink infinite 5s 3s;

    position: absolute;
    top: 20px;
    left: 20px;
}

#quiz {
    width: 866px;
    height: 137px;
    background: center no-repeat url('assets/quiz.png');
    background-size: contain;
    animation: quizIn 3s;

    position: absolute;
    top: 180px;
    left: 20px;
}

#vhs {
    width: 1064px;  /* width: 862px + 202 */
    height: 393px;
    margin:auto;
    background: no-repeat url('assets/vhs.png');
    background-size: contain;
    animation: slideUp_bottom 1s, fade 1s;
    position: relative;
}

#lunchQuiz {
    width: 270px;
    height: 160px;
    background: center no-repeat url('assets/vhs-note.png');
    cursor: pointer;

    position: absolute;
    top: 121px;
    left: 396px;
}


/*** Quiz ***/

#timer {
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 8em;
    margin: auto;
    background: url('assets/timer-background.svg');

    position: absolute;
    bottom: calc(50%);
    left: calc(50% - 150px);
}
#timer_rotate {
    width: 300px;
    height: 300px;
    background: url('assets/timer-rotate.png');
    animation: rotate 1s infinite linear;

    position: absolute;
    top: 0;
    left: 0;
}

#cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fade 3s;
    cursor: pointer;

    position: absolute;
    top: 1em;
    bottom: 9em;
    left: 1em;
    right: 1em;
}

#responses_grid {
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 3em;

    width: 100%;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    bottom: 0;
}

.response {
    line-height: 2em;
    padding: .5em;
    text-align: center;
    
    border-radius: 2em;
    border: 1px solid rgba(0, 0, 0, .4);
    background-color: rgba(4, 4, 4, 0.6);
    box-shadow:
        0px 0px 3px black,
        inset 0px 1px 0px rgba(255, 255, 255, .15);
    margin-top: -1px;
    cursor: pointer;
    transition: .2s;
}
.response:hover {
    background-color: rgba(14, 14, 14, 0.6);
}
.response.active {
    background-color: orangered;
    color: rgb(15, 15, 15);
}
.response.disabled {
    opacity: .5;
}

#responseA {
    animation: fade .4s;
}
#responseB {
    animation: invisible .1s, fade .4s .1s;
}
#responseC {
    animation: invisible .2s, fade .4s .2s;
}
#responseD {
    animation: invisible .3s, fade .4s .3s;
}


/*** Score ***/

#score_grid {
    display: grid;
    font-size: 1.5em;
    place-items: center;
    padding: 1em;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, 2em) 1fr;

    /* width: 100%; */
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#score_valide {
    grid-row: 2 / 3;
    animation: zoom .6s;
}
#score_time {
    grid-row: 3 / 4;
    animation: invisible .6s, zoom .6s .6s;
}
#score_time_bonus {
    grid-row: 4 / 5;
    animation: invisible 1.2s, zoom .6s 1.2s;
}


/*** Scenes ***/

/* Ecran titre */
#millennials, #quiz, #vhs {
    display: none;
}

/* Quiz */
#responses_grid, #btn_passer, #cover, #timer {
    display: none;
}

/* Score */
#score_grid {
    display: none;
}

/*** Animations ***/

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes blink {
    0%   {opacity: 1;}
    50%  {opacity: .6;}
    100% {opacity: 1;}
}

@keyframes fade {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes zoom {
    0%   {transform: scale(0);}
    100% {transform: scale(1.0);}
}

@keyframes invisible {
    0%   {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes slideUp_bottom {
    0%   {margin-bottom: -100px;}
    100% {margin-bottom: 0px;}
}

@keyframes quizIn {
    0%   {opacity: 0;}
    60%  {margin-top: 100px; opacity: 0;}
    100% {margin-top: 0px; opacity: 1;}
}


/*** Media Queri ***/

@media (max-width: 1500px) {
    
}